extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
	nav
		.navlink
			a(href="/logout") Log out
	section#makeCharacter
		form#characterForm(class="characterForm", name="characterForm", action="/maker", method="POST")
			label(for="name") Name: 
			input#characterName(type="text", name="name", placeholder="Name")
			label(for="color") Color: 
			input#characterColor(type="text", name="color", placeholder="Color")
			input(type="hidden", name="_csrf", value="#{csrfToken}")
	div#characterButton
		a#makeCharacterSubmit(class="makeCharacterSubmit", href="#") Make Character
	div#playButton
		.navlink#gameButton
			a(href="/game") Play Game
	section#characters
		if !characters || characters.length == 0
			div.character
				h3.emptyCharacter No Characters yet
		else
			each val in characters
				div.character
					h3.characterName Name: #{val.name}
					h3.characterColor Color: #{val.color}
					h3.characterColor Level: #{val.level}
					a#viewCharacter(class="viewCharacter", href="/domoPage", value=val) View Character
	#characterMessage
		img#speech(src="/assets/img/speech.png", alt="speech box")
		h3
			span#errorMessage
block scripts
	script(src="/assets/maker.js")